body {
    font-family: 'Poppins';
    padding: 1rem;
}

h1 {
    padding: 10px;
}

li {
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

ul {
    margin: unset;
    padding: unset;
}

.border {
    border-style: solid;
    border-color: #416b38;
    border-width: 5px;
    border-radius: 5px;
}

.button {
    background-color: transparent;
    color: black;
    font-size: 15px;
    border: 3px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    background-color: #416b38;
    width: 100%;
}

.button:hover {
    background-color: #558a49;
}
